*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {

    // Increased 5%
    
    font-size: 62.5%;

    @include respond(tab-land) {
        font-size: 61.25%;
    }
 
    @include respond(tab-port) {
        font-size: 51%;
    }

    @include respond(big-desktop) {
        font-size: 80%;
    }
    
}

body {
    font-size: 1.8rem;
    font-family: 'PT Sans', sans-serif;
}