.heading-1 {
    font-family: $font-heading;
    text-transform: uppercase;
    color: #8E8C8C;
    font-size: 3.6rem;
}

.heading-2 {
    font-family: $font-main;
    color: #212B36;
    font-size: 2.4rem;
    font-weight: bold;
}

.heading-3 {
    font-family: $font-main;
    color: #8E1300;
    text-transform: uppercase;
    font-size: 2rem;

    @include respond(small-phone) {
        font-size: 1.4rem;
    }
}

.border-container {
    display: grid;
    grid-template-columns: 1fr 90rem 1fr; 
}

.border-right {
    grid-column: 2 / -1;
    border-bottom: 3px solid #8E1300;
    margin-top: .5rem;
}