// Fonts
$font-main: 'PT Sans', sans-serif;
$font-subheading: 'PT Sans Narrow', sans-serif;
$font-heading: 'PT Sans Caption', sans-serif;

// Colors
$color-red: #8E1300;
$color-blue: #212B36;

$color-grey: #8D8D8D;
$color-grey-light: #E1E1E1;

$color-white: #fff;
$color-black: #2a2a2a;

// Shadows
$shadow-light: 0px 2px 3px rgba(0,0,0,.3);
$shadow: 0px 3px 6px rgba(0,0,0,.6);
$shadow-dark: 0 3px 10px rgba(0,0,0,.8);
$shadow-right: 5px 5px 6px rgba(0,0,0,.6);
$shadow-text: 5px 5px 6px rgba(53, 10, 10, 0.6);