.banner {
    height: 90rem;
    position: relative;
    z-index: -1;

    &__photo {
       background-image: url('../../assets/banner/016128669-old-wood-texture.png');
       height: 100%;
       background-size: cover;
       background-position: center;
    }

    &__logo-container {
        display: flex;
        justify-content: center;
        margin-top: -80rem;
    }

    &__slogan-container {
        display: flex;
        justify-content: center;
    }

    &__logo {
        width: 75rem;
    }

    &__slogan {
        margin-top: 3rem;
        color: #DDDDDD;
        font-size: 3.6rem;
        font-family: $font-subheading;
        text-shadow: 5px 5px 6px rgba(0,0,0,.6);
    }
}