.header {
    background-color: #818181;
    color: #fff;
    height: 6rem;
    width: 100%;
    box-shadow: 0 3px 6px rgba(0,0,0,.3);

    &__list {
        height: 100%;
        max-width: 90rem;
        margin: 0 auto;
        display: flex;
        justify-content: space-around;
        align-items: center;
        list-style: none;
    }

    &__link {
        padding: 1.9rem;
        cursor: pointer;

        &:hover {
            transition: .5s all ease;
            background-color: green;
        }
    }

    &__link.active {
        cursor: pointer;
        align-self: center;

        &:hover {
            border-bottom: none;
        }
    }
}