.header {
    position: fixed;
    background-color: $color-grey;
    color: $color-white;
    height: 6rem;
    width: 100%;
    box-shadow: $shadow-dark;

    z-index: 10;

    &__triangle-1 {
        position: absolute;
        opacity: .15;
        top: .4rem;
        left: -.5rem;
        width: 5.8rem;
        transform: rotate(90deg);
    }

    &__triangle-2 {
        position: absolute;
        opacity: .15;
        top: .4rem;
        right: -.5rem;
        width: 5.8rem;
        transform: rotate(-90deg);

        @include respond(small-phone) {
            display: none;
        }
    }

    &__menu {
        display: none;

        @include respond(small-phone) {
            display: inline;
            position: absolute;
            fill: $color-red;
            top: 1rem;
            right: 1rem;
            width: 4rem;
            height: 4rem;
            cursor: pointer;
        }
    }

    &__list {
        position: relative;
        margin: 0 auto;
        display: flex;
        justify-content: space-around;
        height: 100%;
        max-width: 80rem;
        align-items: center;
        font-size: 1.6rem;
        font-family: $font-subheading;
        list-style: none;
        font-weight: bold;

        @include respond(phone) {
            max-width: 50rem;
        }

        @include respond(small-phone) {
            display: none;
        }
    }

    &__link {
        cursor: pointer;
    }
}