.photos {
    display: grid;
    grid-template-columns: 1fr 45rem 45rem 1fr;
    grid-template-rows: 13rem 105rem 12rem;
    margin-top: 8rem;

    @include respond(tab-port) {
        grid-template-columns: 1fr 35rem 35rem 1fr;
        grid-template-rows: 13rem 85rem 12rem;
    }

    @include respond(phone) {
        grid-template-columns: 1fr 25rem 25rem 1fr;
        grid-template-rows: 13rem 65rem 11rem;
    }

    @include respond(small-phone) {
        grid-template-columns: 1fr 17rem 17rem 1fr;
        grid-template-rows: 13rem 40rem 11rem;
    }

    &__heading-1 {
        grid-column: 3 / 4;
        grid-row: 1 / 2;
        text-align: right;
    }

    &__border {
        grid-column: 1 / 4;
        grid-row: 1 / 2;
        align-self: center;
        border-bottom: 3px solid $color-red;
        margin-top: .5rem;
    }

    &__paragraph-1 {
        grid-column: 3 / 4;
        grid-row: 1 / 2;
        align-self: flex-end;

        font-family: $font-subheading;
        color: $color-grey;
        text-align: right;
        font-size: 2rem;

        @include respond(small-phone) {
            grid-column: 2 / 4;
        }
    }

    &__photos-container {
        grid-column: 2 / 4;
        grid-row: 2 / 3;

        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(4, 1fr);

        margin-top: 6rem;

        @include respond(small-phone) {
            margin-top: 1rem;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(4, 1fr);
        }
    }

    &__photo {
        width: 25rem;
        justify-self: center;
        align-self: center;
        margin-top: 2rem;

        transition: .3s all ease;

        @include respond(tab-port) {
            width: 20rem;
        }

        @include respond(phone) {
            width: 15rem;
        }

        @include respond(small-phone) {
            width: 10rem;
        }

        &:hover {
            cursor: pointer;
            box-shadow: $shadow;
            transform: scale(1.02);
        }
    }

    &__facebook {
        grid-column: 2 / 4;
        grid-row: 4 / 5;

        justify-self: center;
        align-self: flex-end;

        margin-top: 4rem;

        font-family: $font-main;
        color: $color-blue;
        text-transform: uppercase;
        text-decoration: none;
        transition: color .5s ease;

        &:hover {
            cursor: pointer;
            color: #3B5998;
        }

        @include respond(small-phone) {
            align-self: center;
            margin-top: 2rem;
        }
    }

    &__selected {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 80vh;
        width: 80vh;
        border: 3px solid $color-red;
        z-index: 20;

        @include respond(phone) {
            width: 70vw;
            height: 70vw;
        }

        @include respond(small-phone) {
            width: 80vw;
            height: 80vw;
        }
    }

    &__selected-photo {
        height: 100%;
        width: 100%;
    }

    &__close {
        fill: $color-white;
        width: 3rem;
        height: 3rem;
        position: fixed;
        right: 0;
        top: -5rem;

        &:hover {
            cursor: pointer;
        }
    }

    &__left-arrow {
        fill: $color-white;
        width: 5rem;
        height: 5rem;
        position: fixed;
        top: 50%;
        transform: translateY(-50%);
        left: -10rem;
        z-index: 21;

        @include respond(small-phone) {
            width: 4rem;
            height: 4rem;
            top: 92vw;
            left: 1rem;
        }

        &:hover {
            cursor: pointer;
        }
    }

    &__right-arrow {
        fill: $color-white;
        width: 5rem;
        height: 5rem;
        position: fixed;
        top: 50%;
        transform: translateY(-50%);
        right: -10rem;
        z-index: 21;

        @include respond(small-phone) {
            width: 4rem;
            top: 92vw;
            right: 1rem;
        }

        &:hover {
            cursor: pointer;
        }
    }
}