.photos {
    display: grid;
    grid-template-columns: 1fr 45rem 45rem 1fr;
    grid-template-rows: 12rem 60rem 12rem;
    margin-top: 8rem;

    @include respond(phone) {
        grid-template-columns: 1fr 30rem 30rem 1fr;
        grid-template-rows: 11rem 40rem 11rem;
    }

    @include respond(small-phone) {
        grid-template-columns: 1fr 17rem 17rem 1fr;
    }

    &__heading-1 {
        grid-column: 3 / 4;
        grid-row: 1 / 2;
        text-align: right;
    }

    &__border {
        grid-column: 1 / 4;
        grid-row: 1 / 2;
        align-self: center;
        border-bottom: 3px solid #8E1300;
        margin-top: .5rem;
    }

    &__paragraph-1 {
        grid-column: 3 / 4;
        grid-row: 1 / 2;
        align-self: flex-end;

        font-family: $font-subheading;
        color: #8D8D8D;
        text-align: right;

        @include respond(small-phone) {
            grid-column: 2 / 4;
        }
    }

    &__photos-container {
        grid-column: 2 / 4;
        grid-row: 2 / 3;

        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(3, 1fr);

        margin-top: 6rem;

        @include respond(small-phone) {
            margin-top: 1rem;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(4, 1fr);
        }
    }

    &__photo {
        width: 20rem;
        justify-self: center;
        align-self: center;
        margin-top: 2rem;

        transition: .3s all ease;

        @include respond(phone) {
            width: 13rem;
        }

        @include respond(small-phone) {
            width: 10rem;
        }

        &:hover {
            cursor: pointer;
            box-shadow: 0px 5px 6px rgba(0,0,0,.6);
            transform: scale(1.02);
        }
    }

    &__facebook {
        grid-column: 2 / 4;
        grid-row: 4 / 5;

        justify-self: center;
        align-self: flex-end;

        margin-top: 4rem;

        font-family: $font-main;
        color: #212B36;
        text-transform: uppercase;

        @include respond(small-phone) {
            align-self: center;
            margin-top: 2rem;
        }
    }
}